#container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.box1{
    width: 30%;
    font-size: 30px;
    box-sizing: border-box;
    margin: 20px;
    color: white;
}
.box2{
    margin: 30px;
}
body{
    background:linear-gradient(to left ,#161fa8 , #99e2d0); 
}